__pycache__
.DS_Store
.hosts.swp
.idea/
*.txt
*.log
*.xls
*.xlsx
ntc-templates
logs*
cfg*
*.md
*.csv
test*
ansible*
group_vars
host_vars
hosts
data.js
*.yml
*.bat
*.xlsx
*.jpg
*.jpeg
*.png
*.textfsm
*.json
old*
*dict
*.zip
venv
archive*
.env
